.chart {
    margin: 10px;
    padding: 20px;
    border: 1px solid #eff1f4;
    border-radius: 8px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.subtitle {
    font-style: 10px;
    color: #999BA1;
    margin-bottom: 16px;
}