.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding: 6px;
    border-radius: 3px;
}