.container {
    display: flex;

    .left {
        flex: 1;
        border-right: 1px solid #E5E5E5;
        min-height: 100vh;
        overflow: hidden;

        .toolbar {
            display: flex;
            padding: 10px;
            height: 50px;
        }
        .list{
            overflow: auto;
            height: calc(100vh - 50px);
        }
    }

    .right {
        flex: 2;
    }
}

.load-elem{
    text-align: center;
    color: #999BA1;
    font-size: 14px;
}